%h1 Cables

%h3 Search Them

%form
  .left
    -#Year of cable:
    -#= select_tag 'year', options_for_select( (1966..2012).to_a, params[:year] ), include_blank: true
    -#%br
    -#Origin:
    -#= select_tag 'origin', options_for_select( Cable.origin_options, params[:origin] ), include_blank: true
    -#%br
    = text_field_tag 'q', params[:q], placeholder: "enter search terms ..."

%br
%br
- if params[:q].blank?
  - # show nothing
- elsif @hits.empty?
  %div.hit.header
    %span.no_results No Matches
- else
  %div.hit.header
    %span.score Score
    %span.date Date
    %span.origin Origin
    %span.origin_id Cable ID

  - @hits.each do |hit|
    %div.hit{id: "result_#{hit.result.id}", class: cycle(:odd, :even)}
      %span.score= sprintf("%.2f", hit.score)
      %span.date= hit.result.cable_date.strftime("%d %b %Y")
      %span.origin= hit.result.origin_description
      %span.origin_id= link_to(hit.result.origin_id, hit.result)
